<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Marketing Mix Tool | Dozen Digital</title>

		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="foundation.min.css">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

		<!-- Load d3 -->
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

		<!-- Load c3.css -->
		<link href="/c3/c3.css" rel="stylesheet" type="text/css">

		<!-- Load d3.js and c3.js -->
		<script src="/c3/c3.min.js"></script>

	</head>

	<body>
		<div data-magellan-expedition="fixed" id="bar-wrapper">
			<nav class="top-bar" data-topbar role="navigation">
				<ul class="title-area">
					<li class="name">
						<a href="http://www.dozendigital.com"><img src="dozen-logo.png"></a>
					</li>
				</ul>

				<section class="top-bar-section">
				    <ul class="right">
				    	<dl class="sub-nav">
							<li><dd data-magellan-arrival="q1"><a href="#q1">1</a></dd></li>
							<li><dd data-magellan-arrival="q2"><a href="#q2">2</a></dd></li>
							<li><dd data-magellan-arrival="q3"><a href="#q3">3</a></dd></li>
							<li><dd data-magellan-arrival="q4"><a href="#q4">4</a></dd></li>
							<li><dd data-magellan-arrival="q5"><a href="#q5">5</a></dd></li>
							<li><dd data-magellan-arrival="q6"><a href="#q6">6</a></dd></li>
							<li><dd data-magellan-arrival="q7"><a href="#q7">7</a></dd></li>
							<li><dd data-magellan-arrival="q8"><a href="#q8">8</a></dd></li>
							<li><dd data-magellan-arrival="q9"><a href="#q9">9</a></dd></li>
							<li><dd data-magellan-arrival="q10"><a href="#q10">10</a></dd></li>
							<li><dd data-magellan-arrival="q11"><a href="#q11">11</a></dd></li>
						</dl>
				    </ul>
				</section>
			</nav>
		</div>

		<div class="container title">
			<div class="row wrapper">
				<div class="large-12 columns content">
					<h1 class="header">
						What's My Marketing Mix?
					</h1>
					<div id="down">
						<a href="#q1">
							<img src="arrow.png">
						</a>
					</div>
				</div>
			</div>
		</div>

		<form action="/" method="POST" id="quiz">
			<div class="container" id="q1" data-magellan-destination="q1">
				<a name="q1"></a>
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Do you sell to businesses?</span>
						<div>
							<input type="radio" name="businesses" value="true" id="yes1" checked>
							<label for="yes1">Yes</label>
							<input type="radio" name="businesses" value="false" id="no1">
							<label for="no1">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q2" data-magellan-destination="q2">
				<a name="q2"></a>
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Do you sell to consumers?</span>
						<div>
							<input type="radio" name="consumers" value="true" id="yes2">
							<label for="yes2">Yes</label>
							<input type="radio" name="consumers" value="false" checked id="no2">
							<label for="no2">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q3" data-magellan-destination="q3">
				<a name="q3"></a>
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Is strong branding important in your market?</span>
						<div>
							<input type="radio" name="branding" value="true" checked id="yes3">
							<label for="yes3">Yes</label>
							<input type="radio" name="branding" value="false" id="no3">
							<label for="no3">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q4" data-magellan-destination="q4">
				<a name="q4"></a>
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Is there a strong local component to your business?</span>
						<div>
							<input type="radio" name="local" value="true" checked id="yes4">
							<label for="yes4">Yes</label>
							<input type="radio" name="local" value="false" id="no4">
							<label for="no4">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q5" data-magellan-destination="q5">
				<a name="q5"></a>
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Does your site have more than 10 pages?</span>
						<div>
							<input type="radio" name="site" value="true" checked id="yes5">
							<label for="yes5">Yes</label>
							<input type="radio" name="site" value="false" id="no5">
							<label for="no5">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q6" data-magellan-destination="q6">
				<a name="q6"></a>
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Are you running an e-commerce website?</span>
						<div>
							<input type="radio" name="ecommerce" value="true" checked id="yes6">
							<label for="yes6">Yes</label>
							<input type="radio" name="ecommerce" value="false" id="no6">
							<label for="no6">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q7" data-magellan-destination="q7">
				<a name="q7"></a>
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Is your product a mobile app?</span>
						<div>
							<input type="radio" name="mobile" value="true" id="yes7">
							<label for="yes7">Yes</label>
							<input type="radio" name="mobile" value="false" checked id="no7">
							<label for="no7">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q8" data-magellan-destination="q8">
				<a name="q8"></a>
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Is your product a SaaS product?</span>
						<div>
							<input type="radio" name="saas" value="true" checked id="yes8">
							<label for="yes8">Yes</label>
							<input type="radio" name="saas" value="false" id="no8">
							<label for="no8">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q9" data-magellan-destination="q9">
				<a name="q9"></a>
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Does your product or service rely heavily on content creation?</span>
						<div>
							<input type="radio" name="contentCreation" value="true" checked id="yes9">
							<label for="yes9">Yes</label>
							<input type="radio" name="contentCreation" value="false" id="no9">
							<label for="no9">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q10" data-magellan-destination="q10">
				<a name="q10"></a>
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">What is the estimated lifetime value of your customers?</span>
						<div class="row">
							<div class="large-5 medium-5 small-3 columns">&nbsp;</div>
							<div class="large-2 medium-2 small-6 columns">
								<div class="row collapse">
									<div class="small-3 large-2 columns">
										<span class="prefix">$</span>
									</div>
									<div class="small-9 large-10 columns">
										<input type="number" name="ltv" min="0" value="200">
									</div>
								</div>
							</div>
							<div class="large-5 medium-5 small-3 columns">&nbsp;</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q11" data-magellan-destination="q11">
				<a name="q11"></a>
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">What is your monthly marketing budget?</span>
						<div class="row">
							<div class="large-5 medium-5 small-3 columns">&nbsp;</div>
							<div class="large-2 medium-2 small-6 columns">
								<div class="row collapse">
									<div class="small-3 large-2 columns">
										<span class="prefix">$</span>
									</div>
									<div class="small-9 large-10 columns">
										<input type="number" name="budget" min="0" value="10000">
									</div>
								</div>
							</div>
							<div class="large-5 medium-5 small-3 columns">&nbsp;</div>
						</div>
						<div class="row text-center">
							<button type="submit">Give Me My Results!</button>
						</div>
					</div>
				</div>
			</div>
		</form>

		<script src="js/vendor/jquery.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/foundation/foundation.slider.js"></script>
		<script src="js/foundation/foundation.magellan.js"></script>

		<script>
			$(document).foundation();
		</script>
	</body>

</html>