<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Marketing Mix Tool | Dozen Digital</title>

		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="foundation.min.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic' rel='stylesheet' type='text/css'>

		<!-- Load d3 -->
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

		<!-- Load c3.css -->
		<link href="/c3/c3.css" rel="stylesheet" type="text/css">

		<!-- Load d3.js and c3.js -->
		<script src="/c3/c3.min.js"></script>

	</head>

	<body>
		<div class="container title">
			<div class="row">
				<div class="large-12 columns content">
					<h1 class="header">
						What's My Marketing Mix?
					</h1>
					<div id="down">
						<a href="#q1">
							<img src="arrow.png">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-2 columns">
				&nbsp;
			</div>
			<div class="large-8 columns">

				<form action="/" method="POST" id="quiz">

					<div class="row">
						<div class="large-12 columns">
							Do you sell to businesses?
						</div>
						<div class="large-12 columns">
							<input type="radio" name="businesses" value="true" checked>Yes
							<input type="radio" name="businesses" value="false">No
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							Do you sell to consumers?
						</div>
						<div class="large-12 columns">
							<input type="radio" name="consumers" value="true">Yes
							<input type="radio" name="consumers" value="false" checked>No
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							Is strong branding necessary to have a competitive edge in your market?
						</div>
						<div class="large-12 columns">
							<input type="radio" name="branding" value="true" checked>Yes
							<input type="radio" name="branding" value="false">No
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							Is there a local component to your business?
						</div>
						<div class="large-12 columns">
							<input type="radio" name="local" value="true" checked>Yes
							<input type="radio" name="local" value="false">No
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							Does your site have more than 10 public-facing pages?
						</div>
						<div class="large-12 columns">
							<input type="radio" name="site" value="true" checked>Yes
							<input type="radio" name="site" value="false">No
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							Is your company an e-commerce website?
						</div>
						<div class="large-12 columns">
							<input type="radio" name="ecommerce" value="true" checked>Yes
							<input type="radio" name="ecommerce" value="false">No
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							Is your company a mobile app?
						</div>
						<div class="large-12 columns">
							<input type="radio" name="mobile" value="true">Yes
							<input type="radio" name="mobile" value="false" checked>No
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							Is your company a SaaS company?
						</div>
						<div class="large-12 columns">
							<input type="radio" name="saas" value="true" checked>Yes
							<input type="radio" name="saas" value="false">No
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							Is your company heavily reliant on content creation (user-generated or other)?
						</div>
						<div class="large-12 columns">
							<input type="radio" name="contentCreation" value="true" checked>Yes
							<input type="radio" name="contentCreation" value="false">No
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							What is the estimated lifetime value of your customers?
						</div>
						<div class="large-12 columns">
							<input type="number" name="ltv" min="0" value="200">
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							How big is your monthly marketing budget?
						</div>
						<div class="large-12 columns">
							<input type="number" name="budget" min="0" value="10000">
						</div>
					</div>


					<div class="row text-center">
						<button type="submit">Submit</button>
					</div>
				</form>
			</div>
			<div class="large-2 columns">
				&nbsp;
			</div>
		</div>

		<script src="js/vendor/jquery.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/foundation/foundation.slider.js"></script>

		<script>
			$(document).foundation();
		</script>
	</body>

</html>