<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Marketing Mix Tool | Dozen Digital</title>

		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="foundation.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<script src="js/vendor/modernizr.js"></script>

	</head>

	<body>
		<div class="fixed">
			<nav class="top-bar" data-topbar role="navigation">
				<ul class="title-area">
					<li class="name">
						<h1><a href="/">What's My Marketing Mix?</a></h1>
					</li>
				</ul>
				<ul class="right">
					<li class="name">
						<a href="http://www.dozendigital.com"><img src="dozen-logo.png"></a>
					</li>
				</ul>
			</nav>
		</div>


		<div class="container title">
			<div class="row wrapper">
				<div class="large-12 columns content">
					<h1 class="header">
						What's My Marketing Mix?
					</h1>
					<div class="row explanation">
						<div class="large-3 columns">&nbsp;</div>
						<div class="large-6 columns">
							From SEO to SEM, Facebook ads to affiliate marketing, how do you decide which digital marketing channel you should focus on? We’ve put together a ten-question quiz to help with your planning.
						</div>
						<div class="large-3 columns">&nbsp;</div>
					</div>
					<div id="down">
						<img src="arrow.png" id="arrow">
					</div>
				</div>
			</div>
		</div>

		<form action="/" method="POST" id="quiz">
			<div class="container" id="q1">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Do you sell to businesses?</span>
						<div>
							<input type="radio" name="businesses" value="true" id="yes1">
							<label for="yes1">Yes</label>
							<input type="radio" name="businesses" value="false" id="no1">
							<label for="no1">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q2">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Do you sell to consumers?</span>
						<div>
							<input type="radio" name="consumers" value="true" id="yes2">
							<label for="yes2">Yes</label>
							<input type="radio" name="consumers" value="false" id="no2">
							<label for="no2">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q3">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Is strong branding important in your market?</span>
						<div>
							<input type="radio" name="branding" value="true" id="yes3">
							<label for="yes3">Yes</label>
							<input type="radio" name="branding" value="false" id="no3">
							<label for="no3">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q4">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Is there a strong local component to your business?</span>
						<div>
							<input type="radio" name="local" value="true" id="yes4">
							<label for="yes4">Yes</label>
							<input type="radio" name="local" value="false" id="no4">
							<label for="no4">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q5">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Does your site have more than 10 pages?</span>
						<div>
							<input type="radio" name="site" value="true" id="yes5">
							<label for="yes5">Yes</label>
							<input type="radio" name="site" value="false" id="no5">
							<label for="no5">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q6">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Are you running an e-commerce website?</span>
						<div>
							<input type="radio" name="ecommerce" value="true" id="yes6">
							<label for="yes6">Yes</label>
							<input type="radio" name="ecommerce" value="false" id="no6">
							<label for="no6">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q7">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Is your product a mobile app?</span>
						<div>
							<input type="radio" name="mobile" value="true" id="yes7">
							<label for="yes7">Yes</label>
							<input type="radio" name="mobile" value="false" id="no7">
							<label for="no7">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q8">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Is your product a SaaS product?</span>
						<div>
							<input type="radio" name="saas" value="true" id="yes8">
							<label for="yes8">Yes</label>
							<input type="radio" name="saas" value="false" id="no8">
							<label for="no8">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q9">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Does your product or service rely heavily on content creation?</span>
						<div>
							<input type="radio" name="contentCreation" value="true" id="yes9">
							<label for="yes9">Yes</label>
							<input type="radio" name="contentCreation" value="false" id="no9">
							<label for="no9">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q10">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">What is the estimated lifetime value of your customers?</span>
						<div class="row">
							<div class="large-5 medium-5 small-3 columns">&nbsp;</div>
							<div class="large-2 medium-2 small-6 columns">
								<div class="row collapse">
									<div class="small-3 large-2 columns">
										<span class="prefix">$</span>
									</div>
									<div class="small-9 large-10 columns">
										<input type="number" name="ltv" min="0">
									</div>
								</div>
							</div>
							<div class="large-5 medium-5 small-3 columns">&nbsp;</div>
						</div>
						<div class="row text-center">
							<button type="submit">Give Me My Results!</button>
						</div>
					</div>
				</div>
			</div>
		</form>

		<script src="js/vendor/jquery.js"></script>
		<script src="/js/vendor/fastclick.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/foundation/foundation.slider.js"></script>
		<script src="js/scroll.js"></script>

		<script>
			$(document).foundation();
		</script>
	</body>

</html>