<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Marketing Mix Tool | Dozen Digital</title>

		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="foundation.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<script src="js/vendor/modernizr.js"></script>

	</head>

	<body>
		<div class="fixed">
			<nav class="top-bar" data-topbar role="navigation">
				<ul class="title-area">
					<li class="name">
						<h1><a href="/">What's My Marketing Mix?</a></h1>
					</li>
				</ul>
				<ul class="right">
					<li class="name">
						<a href="http://www.dozendigital.com"><img src="dozen-logo.png"></a>
					</li>
				</ul>
			</nav>
			<div class="progress-wrapper">
				<progress value="0" id="progress-bar"></progress>
			</div>
		</div>


		<div class="container title">
			<div class="row wrapper">
				<div class="large-12 columns content">
					<h1 class="header">
						What's My Marketing Mix?
					</h1>
					<div class="row quiz-explanation">
						<div class="large-3 columns">&nbsp;</div>
						<div class="large-6 columns">
							From SEO to SEM, Facebook ads to affiliate marketing, how do you decide which digital marketing channel you should focus on? We’ve put together a ten-question quiz to help with your planning.
						</div>
						<div class="large-3 columns">&nbsp;</div>
					</div>
					<div id="down">
						<img src="arrow.png" id="arrow">
					</div>
				</div>
			</div>
		</div>

		<form action="/" method="POST" id="quiz">
			<div class="container" id="q1">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">What is your revenue model?</span>
						<div>
							<input type="radio" name="q1" value="ecommerce" id="ecommerce1">
							<label for="ecommerce1">ECommerce</label>
							<input type="radio" name="q1" value="marketplace" id="marketplace1">
							<label for="marketplace1">Marketplace</label>
							<input type="radio" name="q1" value="advertising" id="advertising1">
							<label for="advertising1">Advertising Supported</label>
							<input type="radio" name="q1" value="software" id="software1">
							<label for="software1">Software Sales</label>
							<input type="radio" name="q1" value="app" id="app1">
							<label for="app1">App Sales</label>
							<input type="radio" name="q1" value="agency" id="agency1">
							<label for="agency1">Agency</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q2">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Who do you sell to?</span>
						<div>
							<input type="radio" name="q2" value="businesses" id="businesses2">
							<label for="businesses2">Businesses</label>
							<input type="radio" name="q2" value="consumers" id="consumers2">
							<label for="consumers2">Consumers</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q3">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">What is your estimated customer lifetime value?</span>
						<div>
							<input type="radio" name="q3" value="lessthan5" id="lessthan5">
							<label for="lessthan5"><$5</label>
							<input type="radio" name="q3" value="5to100" id="5to100">
							<label for="5to100">Between $5 and $100</label>
							<input type="radio" name="q3" value="morethan100" id="morethan100">
							<label for="morethan100">$100</label>
							<input type="radio" name="q3" value="100to1000" id="100to1000">
							<label for="100to1000">Between $100 and $1000</label>
							<input type="radio" name="q3" value="morethan1000" id="morethan1000">
							<label for="morethan1000">>$1000</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q4">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">How competitive is your industry?</span>
						<div>
							<input type="radio" name="q4" value="low" id="low4">
							<label for="low4">Low</label>
							<input type="radio" name="q4" value="false" id="medium4">
							<label for="medium4">Medium</label>
							<input type="radio" name="q4" value="false" id="high4">
							<label for="high4">High</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q5">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Has your company raised venture capital?</span>
						<div>
							<input type="radio" name="q5" value="true" id="yes5">
							<label for="yes5">Yes</label>
							<input type="radio" name="q5" value="false" id="no5">
							<label for="no5">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q6">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Is your company currently profitable?</span>
						<div>
							<input type="radio" name="q6" value="true" id="yes6">
							<label for="yes6">Yes</label>
							<input type="radio" name="q6" value="false" id="no6">
							<label for="no6">No</label>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="q7">
				<div class="row wrapper">
					<div class="large-12 columns content">
						<span class="question">Ready to submit your answers?</span>
						<div class="row text-center">
							<button type="submit">Give Me My Results!</button>
						</div>
					</div>
				</div>
			</div>
		</form>

		<script src="js/vendor/jquery.js"></script>
		<script src="/js/vendor/fastclick.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/foundation/foundation.slider.js"></script>
		<script src="js/scroll.js"></script>

		<script>
			$(document).foundation();
		</script>
	</body>

</html>