<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Marketing Mix Tool | Dozen Digital</title>

		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="foundation.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<script src="js/vendor/modernizr.js"></script>

	</head>

	<body>

		<section class="cd-intro" id="title">
			<div class="cd-intro-content bouncy">
				<h1>What's My Marketing Mix?</h1>
				<p>Identify the most important channels for marketing your product</p>
				<div class="action-wrapper">
					<a href="#0" class="cd-btn main-action" id="start-button">Get started</a>
				</div>
			</div>
		</section>

		<form action="/" method="POST" id="quiz">

			<section class="cd-intro" id="q1">
				<div class="cd-intro-content">
					<h1>What is your revenue model?</h1>
					<p>&nbsp;</p>
					<div class="row">
						<div class="large-3 medium-2 columns">&nbsp;</div>
						<div class="large-6 medium-8 columns">
							<select name="q1">
								<option selected="true" disabled="disabled"></option>
								<option value="ecommerce">E-Commerce</option>
								<option value="marketplace">Marketplace</option>
								<option value="advertising">Advertising-Supported</option>
								<option value="software">Software Sales</option>
								<option value="app">App Sales</option>
								<option value="agency">Agency</option>
							</select>
						</div>
						<div class="large-3 medium-2 columns">&nbsp;</div>
					</div>
				</div>
			</section>

			<section class="cd-intro" id="q2">
				<div class="cd-intro-content">
					<h1>Who do you sell to?</h1>
					<p>&nbsp;</p>
					<div>
						<input type="radio" name="q2" value="businesses" id="businesses2">
						<label for="businesses2">Businesses</label>
						<input type="radio" name="q2" value="consumers" id="consumers2">
						<label for="consumers2">Consumers</label>
					</div>
				</div>
			</section>

			<section class="cd-intro" id="q3">
				<div class="cd-intro-content">
					<h1>What is your estimated customer lifetime value?</h1>
					<p>&nbsp;</p>
					<div class="row">
						<div class="large-3 medium-2 columns">&nbsp;</div>
						<div class="large-6 medium-8 columns">
							<select name="q3">
								<option selected="true" disabled="disabled"></option>
								<option value="lessthan5">Less than $5</option>
								<option value="5to100">Between $5 and $100</option>
								<option value="100to1000">Between $100 and $1000</option>
								<option value="morethan1000">More than $1000</option>
							</select>
						</div>
						<div class="large-3 medium-2 columns">&nbsp;</div>
					</div>
				</div>
			</section>

			<section class="cd-intro" id="q4">
				<div class="cd-intro-content">
					<h1>How competitive is your industry?</h1>
					<p>&nbsp;</p>
					<div class="row">
						<div class="large-3 medium-2 columns">&nbsp;</div>
						<div class="large-6 medium-8 columns">
							<select name="q4">
								<option selected="true" disabled="disabled"></option>
								<option value="low4">Low</option>
								<option value="medium4">Medium</option>
								<option value="high4">High</option>
							</select>
						</div>
						<div class="large-3 medium-2 columns">&nbsp;</div>
					</div>
				</div>
			</section>

			<section class="cd-intro" id="q5">
				<div class="cd-intro-content">
					<h1>Has your company raised venture capital?</h1>
					<p>&nbsp;</p>
					<div>
						<input type="radio" name="q5" value="true" id="yes5">
						<label for="yes5">Yes</label>
						<input type="radio" name="q5" value="false" id="no5">
						<label for="no5">No</label>
					</div>
				</div>
			</section>

			<section class="cd-intro" id="q6">
				<div class="cd-intro-content">
					<h1>Is your company currently profitable?</h1>
					<p>&nbsp;</p>
					<div>
						<input type="radio" name="q6" value="true" id="yes6">
						<label for="yes6">Yes</label>
						<input type="radio" name="q6" value="false" id="no6">
						<label for="no6">No</label>
					</div>
				</div>
			</section>

			<section class="cd-intro" id="q7">
				<div class="cd-intro-content">
					<h1>Ready to submit your answers?</h1>
					<div class="row text-center">
						<button type="submit">Give Me My Results!</button>
					</div>
				</div>
			</section>
		</form>

		<script src="js/vendor/jquery.js"></script>
		<script src="/js/vendor/fastclick.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/scroll.js"></script>

		<script>
			$(document).foundation();
		</script>
	</body>

</html>