<!DOCTYPE html> 
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Marketing Mix Tool | Dozen Digital</title>

		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="foundation.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href="c3/c3.css" rel="stylesheet" type="text/css">
		<script src="js/vendor/modernizr.js"></script>


	</head>

	<body>
		<div class="fixed">
			<nav class="top-bar" data-topbar role="navigation">
				<ul class="title-area">
					<li class="name">
						<h1><a href="/">What's My Marketing Mix?</a></h1>
					</li>
				</ul>
				<ul class="right">
					<li class="name">
						<a href="http://www.dozendigital.com"><img src="dozen-logo.png"></a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="container results">
			<div class="row text-center">
				<div class="large-2 columns">&nbsp;</div>
				<div class="large-8 columns">Here's Your Marketing Mix.</div>
				<div class="large-2 columns">&nbsp;</div>
			</div>
			<div class="row text-center">
				<div class="large-12 columns">
					<div id="score_chart"></div>
					<div class="panel" id="results-explanation">Based on what we know about your business, here's how we think you should split your resources across the various digital marketing channels. To learn more about each channel and how it relates to your business, hover over its slice in the pie chart.</div>
					<div class="panel" id="results-explanation-mobile-only">
						Based on what we know about your business, here's how we think you should split your resources across the various digital marketing channels.
						<p></p>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="large-3 columns">&nbsp;</div>
				<div class="large-6 columns">
					<a href="/pdf" class="button" target="_blank">Generate PDF</a>
					<p>
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://dozendigital.com/mix" data-text="I just calculated my digital marketing mix! Get yours here:">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
						</script>
					</p>
				</div>
				<div class="large-3 columns">&nbsp;</div>
			</div>
		</div>

		<script src="js/vendor/jquery.js"></script>
		<script src="/js/vendor/fastclick.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/foundation/foundation.slider.js"></script>

		<!-- Load d3 -->
		<script src="js/d3.v3.min.js" charset="utf-8"></script>

		<!-- Load c3.js -->
		<script src="c3/c3.min.js"></script>

		<!-- Generate pie chart -->
		<script type="text/javascript">

			function channelExplanation(channel) {
				switch (channel) {
					case "Mobile App Install Advertising":
						return "Mobile app install ads direct users to download a mobile app, and can be set up on a variety of networks such as Facebook, Twitter, AdWords, YouTube and Tumblr. These ads are quickly becoming an essential tool for marketers who want to expose a wide audience to their apps. They can result in significant downloads if shown to relevant audiences and complemented by App Store Optimization (ASO).";
					case "Email Marketing":
						return "Building an email list should be a high priority for a company from the very beginning of their marketing process. For e-commerce businesses in particular, emailing coupons and other promotional material can go a long way in driving online sales. Companies selling SaaS products also stand to benefit from this channel, as email is an ideal avenue for conveying more in-depth information about the product, and can be effectively integrated into a longer sales process.";
					case "Search Advertising":
						return "Paid search refers to advertisements placed within the sponsored listings of a search engine. Advertisers are typically charged on a pay-per-click basis. Paid search is suitable for many different businesses, particularly direct-response marketers and online retailers. PPC advertisements also provide a testing environment for value proposition messaging, since click-through-rates serve as a reliable proxy for viewer engagement.";
					case "Facebook Advertising":
						return "Facebook is a valuable advertising tool primarily due to its advanced audience targeting features. Some of the data you can leverage include location, age, gender, interests, life events, purchase behavior, and more. Any company that has a firm sense of the audience they are trying to reach should explore this option. For small businesses with a limited marketing budget, Facebook advertising is a particularly viable choice as the minimum daily budget for any ad set is just $1.00 USD and there is a variety of bid types available (CPC, CPM, CPA, etc).";
					case "Local Advertising":
						return "In local advertising, promotional messages are directed to the local population rather than the mass market. It is used primarily by small businesses such as stores and restaurants, but can also be used by larger businesses with a strong local presence. Local advertising comprises a number of different efforts, such as local sponsorships, community involvement and industry events.";
					case "Retargeting":
						return "Retargeting helps to keep your brand in front of customers who have not converted, which is crucial given that the vast majority of web traffic will not convert on the first visit. Particularly for larger purchases where the consumer's decision-making process is likely to be long and complex (e.g. buying an expensive SaaS product or a luxury item), retargeting is important to recapture their interest at a later stage. It tends to have a higher ROI that other digital channels as it focuses advertising spend on people who have already demonstrated interest in the brand.";
					case "Content Marketing":
						return "Content marketing refers to a company's efforts to engage with customers and to provide them with valuable expertise to assist them during their purchasing process of any product or service. Both B2B and B2C companies across a variety of industries stand to benefit from this marketing asset, as it allows them not only to connect with new leads and build brand authority, but also to create SEO benefits. In implementing content marketing, it is important to develop a detailed content strategy and put together a budget that accounts for both content creation and distribution.";
					case "Social Media and Community":
						return "Social media serves a number of different roles, from increasing brand awareness to distributing relevant marketing content and providing customer support. It is marked by consumers' ability to create their own content and interact directly with the brand, which helps to increase their sense of involvement in the company. Companies that are looking to increase customer retention would especially benefit from utilizing this channel.";
					case "Partnerships and Business Development":
						return "For some companies, partnerships might be a channel worth investing in, as long as they align with the company and product strategy and are focused on meeting the company's core metrics. Some of the major types of partnerships include product partnerships, brand partnerships, and distribution partnerships.";
					case "Referral Marketing":
						return "Referral marketing consists of growing a userbase by encouraging existing customers to refer other customers. It is a powerful marketing channel because people's decisions are strongly guided by the opinions of others whom they trust. If used strategically, it can be a low-cost tool for startups to generate sales. For businesses with a lengthy sales process, referral marketing is an excellent solution for getting high-quality leads.";
					case "Twitter Advertising":
						return "Like Facebook, Twitter offers a wide variety of data points with which one can target a specific audience, such as location, keywords, followers, interests, behaviors, and even TV targeting. Advertising on Twitter is therefore a good choice for a company that is looking to reach a certain niche.Twitter ads are objective-based and suitable for goals such as growing followers, increasing website traffic, increasing app downloads, finding leads, and raising brand awareness.";
					case "Display/Banner Advertising":
						return "Display advertising can be an effective and scalable way to reach a broad audience. This channel tends to be better suited to building awareness rather than driving conversions, but it as an important complement to direct response ads. For companies that are looking to get their brand in front of a wide audience for a low cost, display ads are a good choice.";
					case "Direct Sales":
						return "Direct selling is best-suited to B2B companies that have a highly specific audience they are looking to target. By using tools such as LinkedIn to identify and reach out to potential customers, businesses can personalize the sales process for optimal results. An effective direct sales strategy calls for a well-defined sales process and skilled sales representatives.";
					case "PR":
						return "PR refers to a company's public messaging in media such as newspapers, magazines, and blogs. It is appropriate for many businesses, but crucially important for those that are seeking to build strong brand authority. Although tracking ROI on PR activities is much harder than doing so for digital marketing channels, PR can contribute greatly to the public image of the organization.";
					case "SEO":
						return "Search Engine Optimization refers to the process of optimizing a website so that it is more likely to rank highly in search results. Although it takes time for SEO efforts to show results, it is still an important process as it helps to drive organic traffic for free in the long term. SEO is especially suitable for small businesses as it scales easily, and at low cost.";
					default:
						return "Based on what we know about your business, here's how we think you should split your resources across the various digital marketing channels. To learn more about each channel and how it relates to your business, hover over its slice in the pie chart.";
				}
			}

			function replaceText(d) {
				$("div#results-explanation").text(
					channelExplanation(d.id)
				);
			}

			function defaultText() {
				$("div#results-explanation").text("Based on what we know about your business, here's how we think you should split your resources across the various digital marketing channels. To learn more about each channel and how it relates to your business, hover over its slice in the pie chart.");
			}

			var chart = c3.generate({
				bindto: "#score_chart",
			    data: {
			        columns: [
			        	<% results.each do | k, v | %>
			        		<% if v[:sum] != 0 %>
			        			[ "<%= v[:name] %>", <%= v[:sum] %> ],
			        		<% end %>
			        	<% end %>
			        ],
			        type : 'pie',
			        onclick: function (d, i) { console.log("onclick", d, i); },
			        onmouseover: function (d, i) {
			        	console.log("onmouseover", d, i);
			        	replaceText(d);
			        },
			        onmouseout: function (d, i) {
			        	console.log("onmouseout", d, i);
			        	defaultText();
			        }
			    },
			    transition: {
		        	duration: 0
		        },
		        legend: {
		        	position: 'right'
		        },
		        pie: {
				  label: {
				    show: false
				  }
				}
			});

			setTimeout(function () {
			    chart.unload({
			        ids: 'data1'
			    });
			    chart.unload({
			        ids: 'data2'
			    });
			}, 2500);

		</script>

		<script>
			$(document).foundation();
		</script>
	</body>

</html>