#dummybodyid {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
}

.top-bar img {
	height: 80%;
	margin-left: 20px;
	margin-top: 5px;
}

#bar-wrapper {
	padding: 0px;
}

.sub-nav li {
	width: 30px;
	margin-left: 0px;
}

.container {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	font-size: 2.5em;
}

.container.title {
	background-color: #fffcf5;
}

.wrapper {
	position: relative;
	top: 40%;
}

.header {
	font-family: 'Montserrat', sans-serif;
}

#down a img {
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

#down a img:hover {
	-webkit-transform: translate3d(0, 5px, 0);
	-moz-transform: translate3d(0, 5px, 0);
	-ms-transform: translate3d(0, 5px, 0);
}

#quiz {
	position: relative;
	height: 100%;
}

#q1, #q6, #q11 {
	background-color: #449bb5;
	color: #ffffff;
}

#q2, #q7 {
	background-color: #5369c0;
	color: #ffffff;
}

#q3, #q8 {
	background-color: #2c3e50;
	color: #ffffff;
}

#q4, #q9 {
	background-color: #167c80;
	color: #ffffff;
}

#q5, #q10 {
	background-color: #74525f;
	color: #ffffff;
}

.question {
	display: inline-block;
	margin-bottom: 1em;
}

label {
	background-color:#ffffff;
	padding: 10px 26px;
	text-transform: uppercase;
}

input[type=radio] {
	display:none;
}

input[type=radio]:checked + label {
	background-color: #a6a6a6;
	color: #ffffff;
	border: solid 3px #fff;
}

input[type=number] {
	text-align: center;
}

button[type=submit] {
	background-color: #48cc70;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid #fff;
	margin-top: 5em;
}


@media only screen and (max-width: 40em) {

   .container { font-size: 2em; }

}
