@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	src: url(./fonts/Proxima.otf);
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 300;
	src: url(./fonts/Proxima-Light.otf);
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: bold;
	src: url(./fonts/Proxima-Bold.otf);
}

#dummybodyid {
	padding: 0;
	margin: 0;
}

.top-bar .title-area .name h1 {
	color: #fff;
	font-family: 'Proxima Nova';
	font-weight: bold;
}

.top-bar img {
	height: 80%;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.sub-nav li {
	width: 30px;
	margin-left: 0px;
}

.progress-wrapper {
	position: relative;
}

progress {
  /* Positioning */
  left: 0;
  top: 0;
  position: absolute;

  /* Dimensions */
  width: 100%;
  height: 6px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: #f1c40f;

}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #f1c40f;
}

progress::-moz-progress-bar {
  background-color: #f1c40f;
}

.container {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	font-size: 2.5em;
	font-family: 'Proxima Nova', sans-serif;
	font-weight: bold;
	overflow-y: scroll;
}

.container.title {
	background-color: #fffcf5;
}

.container.results {
	background-color: #fffcf5;
	padding-top: 5rem;
}

.wrapper {
	position: relative;
	top: 40%;
}

.header {
	font-family: 'Proxima Nova', sans-serif;
	font-weight: bold;
}

.quiz-explanation {
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 300;
	font-size: 1rem;
}

#down img {
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	cursor: pointer;
	cursor: hand;
}

#down img:hover {
	-webkit-transform: translate3d(0, 5px, 0);
	-moz-transform: translate3d(0, 5px, 0);
	-ms-transform: translate3d(0, 5px, 0);
}

#quiz {
	position: relative;
	height: 100%;
}

#q1, #q6 {
	background-color: #449bb5;
	color: #ffffff;
}

#q2, #q7 {
	background-color: #5369c0;
	color: #ffffff;
}

#q3, #q8 {
	background-color: #2c3e50;
	color: #ffffff;
}

#q4, #q9 {
	background-color: #167c80;
	color: #ffffff;
}

#q5, #q10 {
	background-color: #74525f;
	color: #ffffff;
}

.question {
	display: inline-block;
	margin-bottom: 1em;
}

label {
	background-color:#ffffff;
	padding: 10px 26px;
	text-transform: uppercase;
}

label a {
	color: #4d4d4d;
}

input[type=radio] {
	display:none;
}

input[type=radio]:checked + label {
	background-color: #a6a6a6;
	color: #ffffff;
	border: solid 3px #fff;
}

input[type=number] {
	text-align: center;
}

button[type=submit] {
	background-color: #48cc70;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid #fff;
	margin-top: 5em;
}

#score_chart {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.results .button {
	width: 180px;
	font-size: 1rem;
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 500;
}

#results-explanation {
	font-size: 1rem;
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 500;
}

@media only screen and (max-width: 40em) {

   .container { font-size: 2em; }

}
